name: Test & Lint

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

env:
  CARGO_TERM_COLOR: always

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
      - uses: Swatinem/rust-cache@v2
        with:
          cache-bin: false
      - name: MacOS Docker
        if: runner.os == 'macOS'
        run: |
          brew install docker colima docker-buildx
          colima start
      - name: Set up Docker Compose
        uses: docker/setup-compose-action@v1
      - name: Check compose installed
        run: docker compose --help
      - uses: taiki-e/install-action@v2
        with:
          tool: nextest
      - name: Test
        run: |
          cargo nextest run --no-capture
        shell: bash

  clippy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
      - run: rustup component add clippy
      - run: cargo fmt --check
      - uses: actions-rs/clippy-check@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          args: --all-features --all-targets
